/* ==================================================
   CSS Imports
================================================== */

@import url("reset.css");
@font-face {
	font-family: OpenSans-SemiBold;
	src: url(../css/fonts/fontawesome/OpenSans-SemiBold.ttf);
}
@font-face {
	font-family: OpenSans-Regular;
	src: url(../css/fonts/fontawesome/OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSans-LightItalic;
	src: url(../css/fonts/fontawesome/OpenSans-LightItalic.ttf);
}

/* ==================================================
   Icon Fonts
================================================== */

@import url("fonts/fontawesome/font-awesome.css");

/* ==================================================
   Google Fonts
================================================== */

@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic");

/* ==================================================
   Global Styles
================================================== */

*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body
{
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	width: 100%;
	height: 100%;
	display: table;
}

html
{
	height: 100%;
	overflow: auto;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body
{
	font-family: "OpenSans-Regular";
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
}

::-moz-selection
{
	background: #ED309C;
	color: #FFF;
}

img
{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

/* ==================================================
   Layout Styles
================================================== */

#outercont
{
	display: table-cell;
	vertical-align: middle;
}

	#outercont #innercont
	{
		display: inline-block;
		width: 100%;
		padding: 25px;
	}
	
		#outercont #innercont .bodycontainer
		{
			margin: 0 auto;
			width: 100%;
			max-width: 1140px;
		}
	
/* ==================================================
   Sections
================================================== */

#content
{
	padding: 40px 25px;
	text-align: left;
	text-align: center;
}

	#content p
	{
		margin: 0 0 2rem 0;
	}
	
		#content p:last-child
		{
			margin-bottom: 0;
		}
	
	#content strong
	{
		font-weight: 600;
	}
	
	#content em
	{
		font-style: italic;
	}
	
		/** Main Header **/
		
		.container {
			position: relative;
			text-align: center;
			color: white;
		  }
		  .centered {
			position: absolute;
			top: 45%;
			left: 45%;
			transform: translate(-50%, -50%);
			font-size: 2.5em;
			width: 100%;
			}
		
		#content img
		{
			display: block;
			margin: 0 auto;
			padding: 10px 16px;
			height: 14rem;
		}
		
	
		/** Countdown Timer **/
		
		#countdowncont
		{
			width: 100%;
			max-width: 600px;
			margin: 0 auto;
			margin-bottom: 20px;
		}

			#countdowncont ul#countscript li
			{
				float: left;
				width: 25%;
				padding: 0;
				margin: 0;
				list-style-type: none;
			}

				#countdowncont ul#countscript li span
				{
					font-size: 58px;
					line-height: 58px;
					font-weight: 700;
					
					font-family: "Roboto Condensed";
				}

				#countdowncont ul#countscript li p
				{
					color: rgba(0, 0, 0, 0.6);
					text-transform: uppercase;
					font-size: 16px;
					line-height: 16px;
					margin: 0;
				}

		/** Social Media **/
		.socialmedia_container{
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			margin-top: 5rem;
			
		}
		#socialmedia ul
		{
			margin: 0;
			display: flex;
		}

			#socialmedia ul li
			{
				display: flex;
				list-style-type: none;
				align-items: center;
				padding: 0;
			}
			#socialmedia ul li a
			{
				text-transform: none;
				color: black;
				text-decoration: none;
			}

				
				#socialmedia ul li img{
					height: 5rem;
				}
				
#copyright
{
	padding: 20px 0 0 0;
	text-align: center;
	font-size: 18px;
}
.wrapper form input[type="text"]::placeholder{
	color: rgba(22, 21, 21, 0.575);
	font-style: italic;
	font-family: "OpenSans-LightItalic";
}
.wrapper{
	display: flex;
    justify-content: center;
}
.wrapper form{
	width: 70%;
	display: flex;
	font-size: 3rem;
}
.wrapper form input[type="text"]{
	width: 70%;
	border: 1px solid rgba(10, 10, 10, 0.479);
	outline: none;
	font-size: 2rem;
	padding: 1rem 1rem;
	border-right: transparent;
	font-family: "OpenSans-Regular";
}
.wrapper form input[type="button"]{
	width: 30%;
	padding: 1rem 1rem;
	font-size: 2rem;
	border: 1px solid rgba(10, 10, 10, 0.479);
	outline: none;
	font-family: "OpenSans-Regular";
	background: #e62e2d;
	color: white;
	cursor: pointer;
}

/* ==================================================
   Responsive Media Queries - Tablets
================================================== */

@media screen and (max-width: 873px)
{
	
	#socialmedia:nth-child(2){
		margin-top: 3rem;
    	display: flex;
    	width: 100%;
    	justify-content: center;
	}
	#outercont #innercont
	{
		padding: 25px;
	}
	.notifyme_container:nth-child(1){
		margin-top: 5rem;
	}
	.wrapper a{
		text-decoration: none;
		color: inherit;
	}
	.Register_me{
		margin: 3rem 0;
	}
	
	#content
	{
		padding: 25px;
	}
	
		/** Countdown Timer **/
		
		#countdowncont
		{
			max-width: 400px;
		}
		
			#countdowncont ul#countscript li
			{
				
				padding: 10px 0;
			}
	
}
#socialmedia ul{
	flex-wrap: wrap;
	justify-content: center;
}


/* ==================================================
   Responsive Media Queries - Mobiles
================================================== */
@media screen and (max-width: 873px){
	#content h1{
		font-size: 3rem;
		

	}
	
}
@media screen and (max-width: 532px)
{		
	
	.wrapper form{
		width: 100%;
	}
	#outercont #innercont
	{
		padding: 15px;
	}
	
	#content
	{
		padding: 15px;
	}
	
		/** Countdown Timer **/
		
		#countdowncont ul#countscript li
		{
			padding: 6px 0;
		}

			#countdowncont ul#countscript li p
			{
				font-size: 16px;
				line-height: 16px;
			}
			#content h1{
				font-size: 2.2rem;
				top: 47%;
			}
	
}

